{% extends 'base.html' %}

{% block content %}
    <div style="text-align: center;">
        <div style="text-align: center; max-width: 700px; margin: 4rem auto;">

            <h1>{{ target_article.title }}</h1>

            <h5>{{ target_article.writer.profile.nickname }}</h5>
            <hr>

            <img src="{{ target_article.image.url }}" alt="" style="width: 100%; border-radius: 1rem; margin: 2rem;">

            <p>{{ target_article.content }}</p>

        </div>

        {% if target_article.writer == user %}
        <a href="{% url 'articleapp:update' pk=target_article.pk %}" class="btn btn-dark rounded-pill col-3 mt-2">
            <p>Update</p>
        </a>

        <a href="{% url 'articleapp:delete' pk=target_article.pk %}" class="btn btn-dark rounded-pill col-3 mt-2">
            <p>Delete</p>
        </a>
        {% endif %}
        <hr>

        {% for comment in target_article.comment.all %} <!-- target_article의 foreignkey로 연결된 comment를 모두 가져옴 -->
            {% include 'commentapp/detail.html' with comment=comment %}
        {% endfor %}

        {% include 'commentapp/create.html' with article=target_article %} <!-- 댓글 작성 폼 -->

    </div>
{% endblock %}